@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ScrollGrid {
  margin: 0 auto;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.TopBar {
  width: 100vw;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 1;
  font-family: 'Courier Prime', monospace;
  font-size: 5vh;
  z-index: 1;
}

.SortBar {
  width: 100vw;
  height: 5vh;
  background-color: rgb(170, 170, 170);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15vh;
  position: sticky;
  z-index: 1;
}

.SortBar p {
  font-size: 2vh;
}

.SortBar .DropdownContainer {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.FontContainer {
  margin: 5vh auto 7vh auto;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  position: relative;
  z-index: 0;
}

.Product {
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 20px;
  align-self: center;
}

.Grow { 
  transition: all .3s ease-in-out; 
}

.Grow:hover { 
  transform: scale(1.08); 
}
.Product .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Product .Container p {
  margin-top: 20px;
}

.Ender {
  width: 100%;
  font-family: 'Courier Prime', monospace;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

/* loading dots */

.Loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}